
h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-family: georgia;
}
h3{
    text-align: center;
    color: black;
}
p{
    color: brown;
    text-align: center;
    line-height: 30px;
}
a{
    color: #00ff00;
    text-decoration: none;
}
button{
    background-color: #ffffff;
    color: blueviolet;
}
textarea{
    background-color: #000000;
}
span{
    text-decoration: underline;
}