div{
    background-color: #4dff00ff;
    height: 200px;
    width: 200px; 
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
    /* transition-duration: 2s;
    transition-delay: 0.2s; */
}
div:hover{
    background-color: pink;
    border-radius: 50%;
}

#opacity{
    background-color: rgba(255, 157, 0, 0.982);
    height: 200px;
    width: 200px;
    opacity: 0.5;
}