/* Universal selector */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Element selector */
h3 {
    color: purple;
}

h2,
h1 {
    color: #b92b27;
}

/* ID selector */
#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

/* Class selector */
.upvote {
    background-color: green;
    color: white;
}

/* descendant selector: selects all elements that are descendants of a specified element */
p a {
    color: purple;
    background-color: yellow;
}

/* adjacent sibling selector: changes the elements which are on the same level*/
p+h3 {
    text-decoration: underline;
}

.upvote+button {
    background-color: aqua;
    color: darkblue;
}

/* child selector: can only go till one level deep and only applies to direct children */
div>input {
    background-color: darkgray;
}

/* attribute selector */
input[type="text"] {
    color: green;
}

input[type="password"] {
    color: red;
}

/* pseudo-class selector */
button:hover {
    background-color: black;
    color: white; 
}

h3:hover {
    text-decoration: overline;
}

button:active {
    background-color: pink;
    color: black;
}

p:active {
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked+label {
    color: red;
    font-weight: bold;
}

div:nth-of-type(3n) {
    background-color: lightblue;
}   

/* pseudo-element selector */
p::first-letter {
    font-weight: bold;
}

p::first-line {
    color: red;
}

p::selection {
    background-color: black;
    color: white;
}

/* selector specificity :-  id>class>element*/
/* if specificity is the same, the last rule wins */
 
/* if this "important" is written it has highest priority even over inline styles */
