#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* display: inline-flex;
    display: inline;
    display: block; */
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    justify-content:  space-between;
    /* justify-content:  space-around;
    justify-content:  space-evenly; */
}

h1{
    text-align: center;
    color: black;
}

#container div{
    height: 20px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}